.cc-manage-form {
  &__description {
    font-size: .875em;
  }
  &__item-label {
    text-transform: none;
  }
  &__item-title {
    display: block;
    font-size: 1em;
    margin-bottom: .25rem;
  }
  &__item-description {
    display: block;
    font-weight: normal;
    font-size: .875em;
  }
  &__required-label {
    font-weight: normal;
    font-size: .875em;
    margin-left: .25em;
  }
}